{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="m-3 mb-5">
        <label class="font-weight-bold">Логотип</label>
          <div class="file-field">
            <div class="mb-4" >
              <img src="{% static 'img/q.png' %}"
                class="rounded-circle z-depth-1-half tour-pic" alt="Изображение команды" id="tour_pic" style="width: 200px;">
            </div>
            <div class="d-flex justify-content-start">
              <div class="btn btn-mdb-color btn-rounded float-left">
                <input type="file" id="add_image" name="logo">
              </div>
            </div>
          </div>
    </div>

    <div class="m-3 mb-5">
        <label class="font-weight-bold">Название команды</label>
        <input type="text"  class="form-control" name="title">
    </div>

     <div class="m-3 mb-5">
        <label class="font-weight-bold">Город команды</label>
        <input type="text"class="form-control" name="city">
    </div>

    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary mb-4" value="Создать">
    </div>

</form>
    <script>
    const inpFile = document.getElementById("add_image");
    const previewImage =document.getElementById("tour_pic");
    inpFile.addEventListener("change",function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load",function () {
                previewImage.setAttribute("src",this.result)
            });

            reader.readAsDataURL(file);
        }
    })
    </script>
{% endblock content %}
</body>
</html>